<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>database</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let maps of map | async">
    <ion-label>{{ maps.entry1 }}</ion-label>
  </ion-item>
  <ion-item *ngFor="let maps of map | async">
    <ion-label>{{ maps.setor1_way }}</ion-label>
  </ion-item>
  <ion-item *ngFor="let maps of map | async">
    <ion-label>{{ maps.setor2_way }}</ion-label>
  </ion-item>
  <ion-item *ngFor="let maps of map | async">
    <ion-label>{{ maps.setor3_way }}</ion-label>
  </ion-item>
</ion-content>
