<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadêuai Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
</ion-header>
</ion-content>

  <body>
    <div id="Logo" style="text-align: center;">
          
    <img src="skt/src/assets/icon/Logo.png" alt="Logo Cadeuai" 
    style="display: block;
    margin-top: 70%;
    margin-left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;">
    
    <!--transition-duration: 3s;
    transition: 0.5ms;-->
    
  </div>

    <div id="Eclipse" style="text-align: center;">
          
    <img src="skt/src/assets/icon/Eclipse.png" alt="Eclipzin" 
    style="display: block;
    margin-top: 190%;
    margin-left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;">

    </div>

    <h3 style="color: #00A1E5; margin-top: 35%;">Fazendo o seu caminho</h3>
<!--</body>-->
