body {
background-image:
linear-gradient(to bottom, #001D0B, #0DB045);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h3 {
position: relative;
font-family: arial black;
font-size: larger;
top: 70%;
left: 60%;
transform: translate(-50%, -50%);
}

.Logo {
position: absolute;
left: 50%;
padding: 0px;
}

.Eclipse {
position: absolute;
top: 0%;
left: 0%;
padding: 0%;
}














