<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    
    
    <!----------------------------- app ---------------------------------->
    <!-- <div class="div_title">
      <h3>Perguntas Frequentes</h3>
    </div> -->

    <!-- <div class="faq" data-aos="zoom-in">
      <h2>Perguntas frequentes</h2>
      <ul class="accordion">
        <li>
            <input type="radio" name="accordion" id="first">
            <label for="first">Como utilizar o App?</label>
            <div class="content">
                <p>Simples! Nosso sistema possuí um leitor Qr pelo qual é gerado
                    um mapa de acordo com a localizaçãoo do usuário e seu código de leitura.</p>
            </div>
        </li>

          <li>
              <input type="radio" name="accordion" id="second">
              <label for="second">Como escanear o QrCode?</label>
              <div class="content">
                  <p>Simples! Nosso sistema possuí um leitor Qr pelo qual é gerado
                      um mapa de acordo com a localizaçãoo do usuário e seu código de leitura.</p>
              </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="third">
            <label for="third">Para que serve a lista?</label>
            <div class="content">
                <p>Simples! Nosso sistema possuí um leitor Qr pelo qual é gerado
                    um mapa de acordo com a localizaçãoo do usuário e seu código de leitura.</p>
            </div>
        </li>

        <li>
            <input type="radio" name="accordion" id="fourth">
            <label for="fourth">Para que serve as novidades?</label>
            <div class="content">
                <p>Simples! Nosso sistema possuí um leitor Qr pelo qual é gerado
                    um mapa de acordo com a localizaçãoo do usuário e seu código de leitura.</p>
            </div>
        </li>
          <li>
              <input type="radio" name="accordion" id="fifth">
              <label for="fifth">Como adicionar o meu proprio mapa?</label>
              <div class="content">
                  <p>Caso tenha se interessado pelo nosso aplicativo e deseja utiliza-lo em seu estabelecimento, entre no nosso site e siga os passos para entrar em contato conosco.

                    Site: WWW.Cadeuai.com.br</p>
              </div>
          </li>
      </ul>
  </div> -->

  

  <ion-list>
    <ion-item>
      <ion-label class="question">Como criar uma conta?</ion-label>
      <ion-icon name="add-circle" slot="end"></ion-icon>
      <div class="answer" style="display: none;">Para criar uma conta, clique no botão "Cadastro" e preencha o formulário de registro.</div>
    </ion-item>
    <ion-item>
      <ion-label class="question">Como redefinir minha senha?</ion-label>
      <ion-icon name="add-circle" slot="end"></ion-icon>
      <div class="answer" style="display: none;">Para redefinir sua senha, clique no link "Esqueceu a senha" e siga as instruções.</div>
    </ion-item>
    <!-- Adicione mais perguntas e respostas conforme necessário -->
  </ion-list>
  
  </body>

</ion-content>
