<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body class="body">
    <div class="titulos">
      <ion-label >Entre em contato</ion-label>
    </div>
        <div class="mensagem">
          <ion-label >Caso precise de auxilio ou esteja com duvida em algo. entre em contato conosco nos envie um email com o assunto desejado.</ion-label>
        </div>
        <ion-label class="subtitulo">Email</ion-label>
        <br>
        <ion-label class="email">Cadeuai@gmail.com</ion-label>
  </body>

</ion-content>
