<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Notificaçâo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body>
    
    <div  class="div_title" lines="none">
      <h3 class="title">Configuração</h3>
    </div>

    <div lines="full">
      <img src="" alt="" class="icon">
      <ion-label >Notificações Gerais</ion-label>
      <ion-toggle slot="end" [checked]="true" color="medium"></ion-toggle>
    </div>

    <div lines="full" class="divend">
      <img src="" alt="" class="icon">
      <ion-label >Notificações <br>de promoções</ion-label>
      <ion-toggle slot="end" [checked]="true" color="medium"></ion-toggle>
    </div>

    

  </body>

</ion-content>
