// @import "~swiper/swiper";
// @import "~swiper/components/navigation/navigation";
*{
    margin: 0;
    padding: 0;
}

.cont_main div{
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
}
