<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>mapas salvos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color="danger">Area em beta</ion-label>

  <ion-grid fixed>

    <ion-row justify-content-center>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-button expand="block" routerLink="/home/1">Shopping-entrada-1-( id 1 )</ion-button>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-button expand="block" routerLink="/home/2">Shopping-entrada-2-( id 2 )</ion-button>
      </ion-col>

    </ion-row>
    <ion-row justify-content-center>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-button expand="block" routerLink="/home/3">Shopping-praça-( id 3 )</ion-button>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-button expand="block" routerLink="/home/4">Shopping-entrada-( id 4 )</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
